@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@300;400;700&display=swap');

:root {
    --lilita-one: 'Lilita One', cursive;
    --quicksand: 'Quicksand', sans-serif;
}

[data-theme="light"] {
    --tittle-color: #001858;
    --text-color: #172c66;
    --btn-hover-color: #956947;
}

[data-theme="dark"] {
    --tittle-color: #f3d2c1;
    --text-color: #f3d2c1;
    --btn-hover-color: #728cd4;
}

h2 {
    font-family: var(--quicksand);
    font-size: 24px;
    color: var(--text-color);
    font-weight: 600;
}

p {
    font-family: var(--quicksand);
    font-size: 18px;
    color: var(--text-color);
}

button {
    font-family: var(--quicksand);
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    background: var(--bg-color);
    width: 95%;
    border: 2px solid var(--btn-hover-color);
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
}

button:hover:not([disabled]){
    background: var(--btn-hover-color);
    color: var(--bg-color);
}

button:disabled {
    cursor:no-drop;
}

li::marker {
    content: none;
}

.finalScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalScreen > h2 {
    font-size: 28px;
}

.finalScreen > p {
    font-weight: 600;
    font-size: 22px;
}

@media (max-width: 650px) {
    button {
        font-size: 18px;
    }
}